.git
.github
docs
k8s
**/node_modules
**/vendor
frontend/dist
frontend/coverage
frontend/test-results
frontend/playwright-report
backend/storage/logs/*.log
backend/storage/framework/cache
backend/storage/framework/sessions
backend/storage/framework/views
backend/storage/framework/testing
backend/database/*.sqlite
backend/.env
frontend/.env
.env
